<div id="kennedy">
	<div class="option_position">
		<div class="question"><%=t :kennedy_question %></div>
		<br>
		<table>
			<tbody>
				<tr>
					<td>
						<label class="label_radio" for="Не доволен">
							<input type="radio" id="Не доволен" name="kennedy" value="Не доволен">
							<br><strong><%=t :kennedy_opt1 %></strong>
						</label>
					</td>
					<td>
						<label class="label_radio" for="доволен">
							<input type="radio" id="доволен" name="kennedy" value="доволен">
							<br><strong><%=t :kennedy_opt2 %></strong>
						</label>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="error"><strong><%=t :forgot %></strong> <%= t :kennedy_error %></div>
	<a class="button next"><%=t :next %></a>
</div>
