<div id="kennedy">
	<div class="option_position">
		<div class="question"><%=t :kennedy_question_pt1 %></div>
		<br>
		<table>
			<tbody>
				<tr>
					<td>
						<label class="label_radio" for="k1">
							<input type="radio" id="k1" name="kennedy" value="0">
							<br><strong><%=t :kennedy_opt1 %></strong>
						</label>
					</td>
					<td>
						<label class="label_radio" for="k3">
							<input type="radio" id="k3" name="kennedy" value="50">
							<br><strong><%=t :kennedy_opt2 %></strong>
						</label>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="error"><strong><%=t :forgot %></strong> <%= t :kennedy_error %></div>
	<a class="button next"><%=t :next %></a>
</div>
