<div id="step6">
      <div class="option_position">
            <span class="question"><%=t :step6_question_pt1 %><br><small><span><%=t :step6_question_pt2 %></span></small></span>
            <hr>

            <table id="table1">
                  <thead>
                        <tr>
                              <th colspan="2" class="header">
                                    <span class="question"><%=t :step6_personal %></span>
                              </th>
                        </tr>
                  </thead>
                  <tbody>
                        <tr>
                              <td class="first">
                                    <%=t :step6_name %>
                              </td>
                              <td>
                                    <input id="fname" type="text" placeholder="<%=t :step6_name_first %>">
                                    <input id="lname" type="text" placeholder="<%=t :step6_name_last %>">
                              </td>
                        </tr>
                        <tr>
                              <td class="first">
                                    <%=t :step6_gender %>
                              </td>
                              <td>
                                    <table>
                                          <tbody>
                                                <tr>
                                                      <td>
                                                            <label class="label_radio" for="m"><input type="radio" id="m" name="gender" value="m"><%=t :step6_gender_male %></label>
                                                      </td>
                                                      <td>
                                                            <label class="label_radio" for="f"><input type="radio" id="f" name="gender" value="f"><%=t :step6_gender_female %>
                                                            </label>
                                                      </td>
                                                </tr>
                                          </tbody>
                                    </table>
                              </td>
                        </tr>
                        <tr>
                              <td class="first">
                                    <%=t :step6_mobile %>
                              </td>
                              <td>
                                    <input type="tel" id="mobile">
                              </td>
                        </tr>
                  </tbody>
            </table>
            <table id="table2">
                  <thead>
                        <tr>
                              <th colspan="2" class="header">
                                    <span class="question"><%=t :step6_university %></span>
                              </th>
                        </tr>
                  </thead>
                  <tbody>
                        <tr>
                              <td class="first">
                                    <%=t :step6_study %>
                              </td>
                              <td>
                                    <select id="major" style="display: block; ">
                                          <option disabled="disabled" selected="selected">Area of Study</option>
                                          <option value="Accounting">Accounting</option>
                                          <option value="Anatomy">Anatomy</option>
                                          <option value="Anthropology">Anthropology</option>
                                          <option value="Archaeology">Archaeology</option>
                                          <option value="Architecture">Architecture</option>
                                          <option value="Art History">Art History</option>
                                          <option value="Biochemistry">Biochemistry</option>
                                          <option value="Bioengineering">Bioengineering</option>
                                          <option value="Bioethics">Bioethics</option>
                                          <option value="Biology">Biology</option>
                                          <option value="Biomedical Sciences">Biomedical Sciences</option>
                                          <option value="Biotechnology">Biotechnology</option>
                                          <option value="Botany">Botany</option>
                                          <option value="Chemistry">Chemistry</option>
                                          <option value="Classics">Classics</option>
                                          <option value="Textile Sciences">Textile Sciences</option>
                                          <option value="Commerce">Commerce</option>
                                          <option value="Computer Science">Computer Science</option>
                                          <option value="Criminology">Criminology</option>
                                          <option value="Dance Studies">Dance Studies</option>
                                          <option value="Dental Technology">Dental Technology</option>
                                          <option value="Dental Therapy">Dental Therapy</option>
                                          <option value="Dentistry">Dentistry</option>
                                          <option value="Design Studies">Design Studies</option>
                                          <option value="Development Studies">Development Studies</option>
                                          <option value="Dietetics">Dietetics</option>
                                          <option value="Early Childhood Edu.">Early Childhood Edu.</option>
                                          <option value="Ecology">Ecology</option>
                                          <option value="Economics">Economics</option>
                                          <option value="Education">Education</option>
                                          <option value="Energy Studies">Energy Studies</option>
                                          <option value="Engineering">Engineering</option>
                                          <option value="English">English</option>
                                          <option value="Environmental Science">Environmental Science</option>
                                          <option value="Film and Media Studies">Film and Media Studies</option>
                                          <option value="Finance">Finance</option>
                                          <option value="Fine Arts">Fine Arts</option>
                                          <option value="Forensic Science">Forensic Science</option>
                                          <option value="Forestry Engineering">Forestry Engineering</option>
                                          <option value="Food Science">Food Science</option>
                                          <option value="Gender Studies">Gender Studies</option>
                                          <option value="Genetics">Genetics</option>
                                          <option value="Geography">Geography</option>
                                          <option value="Geology">Geology</option>
                                          <option value="Geophysics">Geophysics</option>
                                          <option value="Health Sciences">Health Sciences</option>
                                          <option value="History">History</option>
                                          <option value="Human Nutrition">Human Nutrition</option>
                                          <option value="Human Resources">Human Resources</option>
                                          <option value="Indigenous Studies">Indigenous Studies</option>
                                          <option value="Industrial Relations">Industrial Relations</option>
                                          <option value="Information Science">Information Science</option>
                                          <option value="Languages">Languages</option>
                                          <option value="Law">Law</option>
                                          <option value="Linguistics">Linguistics</option>
                                          <option value="Management">Management</option>
                                          <option value="Marketing">Marketing</option>
                                          <option value="Maori Studies">Maori Studies</option>
                                          <option value="Mathematics">Mathematics</option>
                                          <option value="Medical Lab Science">Medical Lab Science</option>
                                          <option value="Medicine">Medicine</option>
                                          <option value="Microbiology">Microbiology</option>
                                          <option value="Music">Music</option>
                                          <option value="Neuroscience">Neuroscience</option>
                                          <option value="Nursing">Nursing</option>
                                          <option value="Occupational Health">Occupational Health</option>
                                          <option value="Pharmacology">Pharmacology</option>
                                          <option value="Pharmacy">Pharmacy</option>
                                          <option value="Philosophy">Philosophy</option>
                                          <option value="Physical Education">Physical Education</option>
                                          <option value="Physics">Physics</option>
                                          <option value="Physiology">Physiology</option>
                                          <option value="Physiotherapy">Physiotherapy</option>
                                          <option value="Planning">Planning</option>
                                          <option value="Politics">Politics</option>
                                          <option value="Psychology">Psychology</option>
                                          <option value="Religious Studies">Religious Studies</option>
                                          <option value="Social Work">Social Work</option>
                                          <option value="Sociology">Sociology</option>
                                          <option value="Statistics">Statistics</option>
                                          <option value="Surveying">Surveying</option>
                                          <option value="Teaching">Teaching</option>
                                          <option value="Theology">Theology</option>
                                          <option value="Tourism">Tourism</option>
                                          <option value="Zoology">Zoology</option>
                                          <option value="Other/Undeclared">Other/Undeclared</option>
                                    </select>
                              </td>
                        </tr>
                        <tr>
                              <td class="first">
                                    <%=t :step6_year %>
                              </td>
                              <td>

                                    <table>
                                          <tbody>
                                                <tr>
                                                      <td>
                                                            <label class="label_radio" for="y1">
                                                                  <input type="radio" id="y1" name="year" value="1">
                                                                  1
                                                            </label>
                                                      </td>
                                                      <td>
                                                            <label class="label_radio" for="y2">
                                                                  <input type="radio" id="y2" name="year" value="2">
                                                                  2
                                                            </label>
                                                      </td>
                                                      <td>
                                                            <label class="label_radio" for="y3">
                                                                  <input type="radio" id="y3" name="year" value="3">
                                                                  3
                                                            </label>
                                                      </td>
                                                      <td>
                                                            <label class="label_radio" for="y4">
                                                                  <input type="radio" id="y4" name="year" value="4">
                                                                  4+
                                                            </label>
                                                      </td>
                                                </tr>
                                          </tbody>
                                    </table>
                              </td>
                        </tr>
                  </tbody>
            </table>
      </div>
      <div class="error"><strong><%=t :forgot %></strong> <span id="errorkind">LOL</span></div>
      <a class="button next"><%=t :next %></a>
</div>