<div id="step6">
      <div class="option_position">
            <span class="question"><%=t :step6_question %></span>
            <hr>

            <table id="table1">
                  <thead>
                        <tr>
                              <th colspan="2" class="header">
                                    <span class="question"><%=t :step6_personal %></span>
                              </th>
                        </tr>
                  </thead>
                  <tbody>
                        <tr>
                              <td class="first">
                                    <%=t :step6_name %>
                              </td>
                              <td>
                                    <input id="fname" type="text" placeholder="<%=t :step6_name_first %>">
                                    <input id="lname" type="text" placeholder="<%=t :step6_name_last %>">
                              </td>
                        </tr>
                        <tr>
                              <td class="first">
                                    <%=t :step6_gender %>
                              </td>
                              <td>
                                    <table>
                                          <tbody>
                                                <tr>
                                                      <td>
                                                            <label class="label_radio" for="m"><input type="radio" id="m" name="gender" value="m"><%=t :step6_gender_male %></label>
                                                      </td>
                                                      <td>
                                                            <label class="label_radio" for="f"><input type="radio" id="f" name="gender" value="f"><%=t :step6_gender_female %>
                                                            </label>
                                                      </td>
                                                </tr>
                                          </tbody>
                                    </table>
                              </td>
                        </tr>
                        <tr>
                              <td class="first">
                                    <%=t :step6_mobile %>
                              </td>
                              <td>
                                    <input type="tel" id="mobile">
                              </td>
                        </tr>
                        <tr>
                              <td class="first">
                                    <%=t :step6_email %>
                              </td>
                              <td>
                                    <input type="email" id="email">
                              </td>
                        </tr>
                  </tbody>
            </table>
            <table id="table2">
                  <thead>
                        <tr>
                              <th colspan="2" class="header">
                                    <span class="question"><%=t :step6_education %></span>
                              </th>
                        </tr>
                  </thead>
                  <tbody>
                        <tr>
                              <td class="first">
                                    <%=t :step6_university %>
                              </td>
                              <td>
                                    <input type="text" id="university" style="display: block">
                              </td>
                        </tr><tr>
                              <td class="first">
                                    <%=t :step6_faculty %>
                              </td>
                              <td>
                                    <input type="text" id="faculty" style="display: block">
                              </td>
                        </tr>
                        <tr>
                              <td class="first">
                                    <%=t :step6_year %>
                              </td>
                              <td>

                                    <table>
                                          <tbody>
                                                <tr>
                                                      <td>
                                                            <label class="label_radio" for="y1">
                                                                  <input type="radio" id="y1" name="year" value="1">
                                                                  1
                                                            </label>
                                                      </td>
                                                      <td>
                                                            <label class="label_radio" for="y2">
                                                                  <input type="radio" id="y2" name="year" value="2">
                                                                  2
                                                            </label>
                                                      </td>
                                                      <td>
                                                            <label class="label_radio" for="y3">
                                                                  <input type="radio" id="y3" name="year" value="3">
                                                                  3
                                                            </label>
                                                      </td>
                                                      <td>
                                                            <label class="label_radio" for="y4">
                                                                  <input type="radio" id="y4" name="year" value="4">
                                                                  4
                                                            </label>
                                                      </td>
                                                      <td>
                                                            <label class="label_radio" for="y5">
                                                                  <input type="radio" id="y5" name="year" value="5">
                                                                  5
                                                            </label>
                                                      </td>
                                                </tr>
                                          </tbody>
                                    </table>
                              </td>
                        </tr>
                  </tbody>
            </table>
      </div>
      <div class="error"><strong><%=t :forgot %></strong> <span id="errorkind">LOL</span></div>
      <a class="button next"><%=t :next %></a>
</div>
