#step4.box.pink
  .option_position
    .question= t 'step4.question'
    %label.label_check{:for => "c1"}
      %input#c1{:name => "0", :type => "checkbox", :value => t('step4.option1', locale: :en)}/
      = t 'step4.option1'
    %label.label_check{:for => "c2"}
      %input#c2{:name => "1", :type => "checkbox", :value => t('step4.option2', locale: :en)}/
      = t 'step4.option2'
    %label.label_check{:for => "c3"}
      %input#c3{:name => "2", :type => "checkbox", :value => t('step4.option3', locale: :en)}/
      = t 'step4.option3'
    %label.label_check{:for => "c4"}
      %input#c4{:name => "3", :type => "checkbox", :value => t('step4.option4', locale: :en)}/
      = t 'step4.option4'
  %br/
  %br/
  .error
    %strong= t 'misc.forgot'
    = t 'step4.error'
  %a.button.next= t 'misc.next'