#step1.box.cyan
  .question= @outreach.prize_message_long
  .logo= image_tag @outreach.logo.url
  .prize
    %h1= t 'step1.get_journey'
    = @outreach.prize_message
  %a#start.button{:href => "step2"}= t 'misc.start'
#dirt
#tree
#grass
#bike