<div id="step4">
	<div class="option_position">
		<div class="question"><%=t :spiritual_question %></div>
		<label class="label_radio" for="1">
			<input type="radio" id="1" name="sj" value="<%=t :spiritual_opt1 %>">
			<%=t :spiritual_opt1 %>
		</label>
		<label class="label_radio" for="2">
			<input type="radio" id="2" name="sj" value="<%=t :spiritual_opt2 %>">
			<%=t :spiritual_opt2 %>
		</label>
		<label class="label_radio" for="3">
			<input type="radio" id="3" name="sj" value="<%=t :spiritual_opt3 %>">
			<%=t :spiritual_opt3 %>
		</label>
    <label class="label_radio" for="4">
      <input type="radio" id="4" name="sj" value="<%=t :spiritual_opt4 %>">
      <%=t :spiritual_opt4 %>
    </label>
    <label class="label_radio" for="5">
      <input type="radio" id="5" name="sj" value="<%=t :spiritual_opt5 %>">
      <%=t :spiritual_opt5 %>
    </label>
	</div>
	<div class="error"><strong><%=t :forgot %></strong> <%= t :spiritual_error %></div>
	<a class="button next"><%=t :next %></a>
</div>
