<div id="step2">
	<div class="inputbox">
		<div id="step2_text" class="question"><%=t :location_question %> <span><%=t :location_in_the_world %></span></div>
		<input id="locality" type="text" placeholder="<%=t :location_placeholder %>">
	</div>
	<div id="map_canvas"></div>
	<div class="error"><strong><%=t :forgot %></strong> <%= t :location_error %></div>
  <a class="button next"><%= t :next %></a>
</div>
